@font-face {
    font-family: "Open Sans Regular";
    src: url('OpenSans-Regular.ttf');
}

@font-face {
    font-family: "Open Sans Bold";
    src: url('OpenSans-Bold.ttf');
}

@font-face {
    font-family: "Open Sans Italic";
    src: url('OpenSans-Italic.ttf');
}

@font-face {
    font-family: "Open Sans BoldItalic";
    src: url('OpenSans-BoldItalic.ttf');
}

@font-face {
    font-family: "Open Sans SemiBold";
    src: url('OpenSans-SemiBold.ttf');
}

@font-face {
    font-family: "Fira Mono";
    src: url('FiraMono.ttf');
}
