/*
 This isn't a full theme but series of fixes that should be applied to the default Modena theme,
 makes it more flat, reduce glowing effects and such.

 Examples can be found in modena.css and other JFX themes
 https://github.com/openjdk/jfx/blob/master/modules/javafx.controls/src/main/resources/com/sun/javafx/scene/control/skin/modena/modena.css
*/

.root {
    /* color palette is from Material UI */
    -fx-color-primary: #1976D2; /* blue 700         */
    -fx-color-success: #388E3C; /* green 700        */
    -fx-color-warning: #FF3D00; /* deep-orange A400 */
    -fx-color-error: #FF1744;   /* red A400         */

    -fx-base: #f2f2f2;
    -fx-accent: -fx-color-primary;
    -fx-focus-color: -fx-color-primary;
    -fx-faint-focus-color: #2979FF22;
    -fx-default-button: -fx-accent;
    -fx-body-color: linear-gradient(
        to bottom,
        ladder(-fx-color, derive(-fx-color, 8%) 75%, derive(-fx-color, 10%) 80%),
        derive(-fx-color,-2%) /* reduce this value to decrease gradient level, makes controls look more flat */
    );
    -rtfx-highlight-line-color: #f9fbe7;
}

/******************* Fixes *******************/

/* increase menu item paddings */
.menu-item {
    -fx-padding: 0.333333em 1em 0.333333em 1em;
}

/* remove focus glow around titled pane arrow */
.titled-pane:focused > .title > .arrow-button > .arrow {
    -fx-background-insets: 0;
    -fx-effect: none;
}

/* remove hover effect from titled pane */
.titled-pane > .title:hover {
    -fx-color: -fx-base;
}

/* remove focus glow around active tab in tab pane */
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

/* remove tab pane header area paddings */
.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
}

/* we need more space for tab header, X button is too close to the title */
.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-padding: 0 5 0 5;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-close-button {
    -fx-background-color: derive(-fx-mark-color, 70%);
}
.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-close-button:hover {
    -fx-background-color: derive(-fx-mark-color, -30%);
}

/* reduce tab border insets, default TabPane supposed to be used only for OUTER tabs,
   more specifically it's parent must have a border */
.tab-pane > .tab-header-area > .headers-region > .tab:top {
    -fx-background-insets: 0 1 0 0, 0 2 1 0, 0 2 2 0; /* top, right, bottom, left */
}
.tab-pane > .tab-header-area > .headers-region > .tab:top:selected {
    -fx-background-insets: 0 1 0 0, 0 2 0 0, 0 2 0 0;
}
.tab-pane > .tab-header-area > .headers-region > .tab:bottom {
    -fx-background-insets: 0 0 0 1, 0 0 1 2, 0 0 2 2; /* bottom, left, top, right */
}
.tab-pane > .tab-header-area > .headers-region > .tab:bottom:selected {
    -fx-background-insets: 0 0 0 1, 0 0 0 2, 0 0 0 2;
}
.tab-pane > .tab-header-area > .headers-region > .tab:left {
    -fx-background-insets: 0 0 0 1, 0 0 1 2, 0 0 2 2; /* left, top, right, bottom */
}
.tab-pane > .tab-header-area > .headers-region > .tab:left:selected {
    -fx-background-insets: 0 0 0 1, 0 0 0 2, 0 0 0 2;
}
.tab-pane > .tab-header-area > .headers-region > .tab:right {
    -fx-background-insets: 0 1 0 0, 0 2 1 0, 0 2 2 0; /* right, bottom, left, top */
}
.tab-pane > .tab-header-area > .headers-region > .tab:right:selected {
    -fx-background-insets: 0 1 0 0, 0 2 0 0, 0 2 0 0;
}

.menu-bar {
    -fx-background-color: -fx-outer-border, -fx-body-color;
}

.tool-bar { /* top */
    -fx-background-color: -fx-outer-border, -fx-background;
    -fx-background-insets: 0 0 0 0, 0 0 1 0;
}

/* remove focus border and underline */
.hyperlink {
    -fx-border-color: transparent;
    -fx-underline: false;
}

.hyperlink:hover {
    -fx-underline: true;
}

/* disable visited state, hyperlinks are always the same color */
.hyperlink,
.hyperlink:armed,
.hyperlink .glyph-icon,
.hyperlink:visited,
.hyperlink:hover:visited {
    -fx-text-fill: derive(-fx-text-background-color, 20%);
}

.hyperlink:hover .glyph-icon,
.hyperlink:hover:visited .glyph-icon {
    -fx-fill: derive(-fx-text-background-color, 20%);
}

/* no bold fonts in any tables */
.table-view .column-header,
.table-view .filler,
.tree-table-view .column-header,
.tree-table-view .filler {
    -fx-font-weight: normal;
}

/* remove focus border from container type controls */
.scroll-pane:focused,
.split-pane:focused,
.list-view:focused,
.tree-view:focused,
.table-view:focused,
.tree-table-view:focused {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}

/* increase row height */
.table-view .table-row-cell {
    -fx-cell-size: 2em;
}

/* row height should fit text field height for editable tables */
.table-view.editable .table-row-cell {
    -fx-cell-size: 2.6em;
}

/* fix button hover color which somehow incorrectly calculates by ladder() */
.button:default:hover,
.pagination:focused .toggle-button:selected:hover {
    -fx-text-fill: -fx-light-text-color; /* white */
}

/* Glyph Fonts */
.glyph-icon {
    -fx-fill: -fx-text-base-color;
}
.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected .glyph-icon,
.tree-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-cell:filled:selected .glyph-icon,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected .glyph-icon,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled:selected .glyph-icon,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected .glyph-icon,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell .tree-table-cell:selected .glyph-icon {
    -fx-fill: -fx-light-text-color;
}

/* RichTextFX */
.virtualized-scroll-pane {
    -fx-background-color:
        linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
        -fx-color;
    -fx-background-insets: -1, 0; /* border width */
    -fx-background-radius: 3, 2;
    -fx-padding: 0;
}
.virtualized-scroll-pane:focused {
    -fx-background-color:
        -fx-focus-color,
        -fx-control-inner-background,
        -fx-faint-focus-color,
        -fx-color;
    -fx-background-insets: -1.2, 0, -1.4, 3; /* focus border width */
    -fx-background-radius: 3, 2, 4, 0;
    -fx-prompt-text-fill: transparent;
}
.virtualized-scroll-pane > .scroll-bar:horizontal {
    -fx-background-radius: 0 0 2 2;
}
.virtualized-scroll-pane > .scroll-bar:vertical {
    -fx-background-radius: 0 2 2 0;
}
.virtualized-scroll-pane .styled-text-area {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-padding: 0.333333em 0.583em 0.333333em 0.583em; /* 4 7 4 7 */
    -fx-cursor: text;
    -fx-background-radius: 2;
    -fx-text-fill: -fx-text-inner-color;
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
    -fx-highlight-text-fill: -fx-text-inner-color;
    -fx-highlight-fill: derive(-fx-control-inner-background, -20%);
}
.text-input:focused,
.styled-text-area .selection {
    /*
      There is an old bug: "-fx-highlight-text-fill" doesn't work in RichTextFX
      https://github.com/FXMisc/RichTextFX/issues/303

      The "workaround" is not use brighter background selection color.
      Seems reasoning to apply that policy also to JavaFX text controls for the sake of uniform look.
    */
    -fx-text-fill: -fx-text-inner-color;
    -fx-highlight-fill: derive(-fx-accent, 85%);
    -fx-highlight-text-fill: -fx-text-inner-color;
}
.virtualized-scroll-pane:focused .styled-text-area .paragraph-box:has-caret .paragraph-text {
    -fx-background-color: -rtfx-highlight-line-color;
}
.virtualized-scroll-pane .styled-text-area.rtfx-fea-line-numbers {
    -fx-padding: 0;
    -fx-cursor: text;
    -fx-background-radius: 2;
    -fx-text-fill: -fx-text-inner-color;
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
    -fx-highlight-text-fill: -fx-text-inner-color;
    -fx-highlight-fill: derive(-fx-control-inner-background, -20%);
}
.styled-text-area.rtfx-fea-line-numbers .lineno {
    -fx-background-color: derive(-fx-base, -5%);
    -fx-padding: 0 0.583em 0 0.583em;
    -fx-cursor: default;
    -fx-text-fill: -fx-text-inner-color;
}
.styled-text-area.rtfx-fea-line-numbers .paragraph-box:first-paragraph .lineno {
     -fx-padding: 0.333333em 0.583em 0 0.583em;
}
.styled-text-area.rtfx-fea-line-numbers .paragraph-box:last-paragraph .lineno {
     -fx-padding: 0 0.583em 0.333333em 0.583em;
}
.styled-text-area.rtfx-fea-line-numbers .paragraph-box:first-paragraph .paragraph-text {
    -fx-padding: 0.333333em 0 0 0.583em;
}
.styled-text-area.rtfx-fea-line-numbers .paragraph-box:last-paragraph .paragraph-text {
    -fx-padding: 0 0 0.333333em 0.583em;
}
.styled-text-area.rtfx-fea-line-numbers .paragraph-text {
    -fx-padding: 0 0 0 0.583em;
}
