@import "../fonts/fonts.css";

.root {
    -fx-font-family: "Open Sans Regular";
}

.styled-text-area .context-menu {
    -fx-font-family: "Open Sans Regular";
}
.styled-text-area .text {
    -fx-font-family: 'Fira Mono';
    -fx-font-size: 1.1em;
}

/* by default context menu inherits text input font, null means - use default font */
.context-menu .text {
    -fx-font-family: null;
    -fx-font: null;
}

/******************* Components *******************/

.btn-main {
    -fx-padding: 10 15 10 15;
}

.btn-main StackPane {
    -fx-padding: 0 4 0 0;
}

.btn-icon,
.btn-flat-dropdown {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.btn-flat-dropdown > .label {
    -fx-padding: 0 0.666667em 0 0.666667em;
}

.btn-flat-dropdown > .arrow-button {
    -fx-padding: 0;
}

.btn-flat-dropdown > .arrow-button > .arrow {
    -fx-padding: 0;
}

.lbl-mandatory {
    -fx-text-fill: red;
}

.caption {}

/******************* Utils *******************/

.monospaced {
    -fx-font-family: 'Fira Mono';
    -fx-font-size: 1.1em; /* slightly increase font size, because Fira glyphs lower than Open Sans */
}

.glyph-icon.error {
    -fx-fill: -fx-color-error;
}

.text-center {
    -fx-alignment: CENTER;
}

.text-sm {
    -fx-font-size: 0.9em;
}

.text-xs {
    -fx-font-size: 0.8em;
}

.text-success {
    -fx-fill: -fx-color-success;
}

.text-warning {
    -fx-fill: -fx-color-warning;
}

.text-error {
    -fx-fill: -fx-color-error;
}

.hide-table-header .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}
