@import "../fonts/fonts.css";

.root{
    -fx-font-family: "Open Sans Regular";
}

/******************* Fixes *******************/

/* increase menu item paddings */
.menu-item {
    -fx-padding: 0.333333em 1em 0.333333em 1em;
}

.table-row-cell {
    /* row height should fit text field height for editable tables */
    -fx-cell-size: 2.6em;
}

/* remove focus glow around titled pane arrow */
.titled-pane:focused > .title > .arrow-button > .arrow {
    -fx-background-insets: 0;
    -fx-effect: none;
}

/* remove border */
.hyperlink {
    -fx-border-color: transparent;
}

/* by default context menu inherits text input font */
.context-menu {
    -fx-font-family: "Open Sans Regular";
}

/******************* Components *******************/

.btn-main {
    -fx-padding: 10 15 10 15;
}

.btn-main StackPane {
    -fx-padding: 0 4 0 0;
}

.btn-flat-dropdown {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.btn-flat-dropdown > .arrow-button {
    -fx-padding: 0;
}

.btn-flat-dropdown > .arrow-button > .arrow {
    -fx-padding: 0;
}

.lbl-mandatory {
    -fx-text-fill: red;
}

/******************* Utils *******************/

.monospaced {
    -fx-font-family: 'Fira Mono';
}

.text-center {
    -fx-alignment: CENTER;
}

.text-sm {
    -fx-font-size: 0.9em;
}

.text-xs {
    -fx-font-size: 0.8em;
}