.tab-pane .tab {
   -fx-padding: 0 10 0 10;
}

#tpaneRight *.tab-header-area {
    -fx-padding: 0 0 0 0;
}

#tpaneRight .tab-header-area .tab-header-background {
    -fx-background-color: transparent;
}

#tpaneRight > .tab-header-area > .headers-region > .tab {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-background;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

#tpaneRight > .tab-header-area > .headers-region > .tab:selected {
    -fx-focus-color: transparent;
    -fx-background-color: #E0E0E0;
}

#tblLog .table-row-cell:failed .table-cell {
    -fx-text-fill: red;
}

#tblLog .table-row-cell:forwarded .table-cell {
    -fx-text-fill: orange;
}

#tblLog .table-row-cell:selected .table-cell {
    -fx-text-fill: white;
}

.split-pane > .split-pane-divider {
    -fx-padding: 0 1 0 1;
    -fx-background-color: transparent
}

.password-field {
    -fx-padding: 0.333333em 3em 0.333333em 0.583em;
}
