// reduces slider track padding (1/2 of thumb size by default)
// should be replaced with .edge-to-edge support for slider
.slider {
  -fx-padding: 0 -4px 0 -4px;
}

// increases icon size for large buttons
.button.large>.ikonli-font-icon {
  -fx-icon-size: 22px;
  -fx-font-size: 22px;
}
