#http-sender .log-table .table-row-cell:danger .table-cell {
  -color-cell-fg: -color-danger-emphasis;
  -color-cell-fg-selected: -color-danger-emphasis;
  -color-cell-fg-selected-focused: -color-danger-emphasis;
}