/* Preferences
**********************************************************/

#preferences.tab-pane > .tab-content-area > * {
    -fx-padding: 20;
}
#preferences .grid > .group-header {
    -fx-spacing: 10;
    -fx-padding: 20 0 10 0;
}
#preferences .grid > .combo-box {
    -fx-pref-width: 200;
}
#preferences .plugin-list {
    -fx-pre-width: 300;
}
#preferences .plugin-list .list-cell:disabled {
    -fx-opacity: 0.75;
}
#preferences .plugin-info > .grid,
#preferences .plugin-info > .dummy {
    -fx-background-color: -fx-background;
}
#preferences .plugin-info > .grid > .name {
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}
#preferences .plugin-info > .grid > .version {
    -fx-opacity: 0.6;
}
#preferences .plugin-info > .grid > .flat-dropdown {
    -fx-background-color: transparent;
}
#preferences .plugin-info > .grid > .flat-dropdown:hover {
    -fx-background-color: -fx-hover-base;
}

/* Welcome
**********************************************************/

#welcome {
    -fx-background-color: -fx-background;
    -fx-padding: 100 0 100 0;
    -fx-spacing: 5;
}
#welcome .title {
    -fx-font-size: 2em;
}
#welcome .version {
    -fx-opacity: 0.6;
}
#welcome .project {
    -fx-spacing: 5;
}
