/* API Client
**********************************************************/

#api-client .log-table .table-row-cell:failed .table-cell {
    -fx-text-fill: -fx-color-error;
}

#api-client .log-table .table-row-cell:forwarded .table-cell {
    -fx-text-fill: -fx-color-warning;
}

#api-client .log-table .table-row-cell:selected:failed .table-cell,
#api-client .log-table .table-row-cell:selected:forwarded .table-cell {
    -fx-text-fill: -fx-text-background-color;
}
