#pbarMemory > .track {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

#lbInProgress {
    -fx-text-fill: #0096C9;
}

#tabPaneTools > .tab-content-area > * {
    -fx-padding: 5 5 5 5;
}

#paneWelcome,
#tabPaneTools {
    -fx-background-color: -fx-background;
}

#welcomeAppName {
    -fx-font-size: 2em;
}

#paneWelcome .glyph-icon {
    -glyph-size: 18px;
}

#paneWelcome .header {
    -fx-font-size: 1.5em;
}

#paneWelcomeToolsMenu .label {
    -fx-padding: 0 0 0 5;
}

#paneWelcomeToolsMenu .list-header {
    -fx-text-fill: derive(-fx-text-background-color, 20%);
}

#paneWelcomeToolsMenu .list-nested {
    -fx-border-insets: 0 0 0 2em;
}