/* Overlay
**********************************************************/

.overlay {
    -fx-background-color: transparent;
}
.overlay > .scroll-pane,
.overlay > .scroll-pane > .viewport {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-radius: 0;
}
.overlay > .scroll-pane > .viewport > * > .scrollable-content {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.overlay-dialog {
    -fx-background-color: -fx-background-fallback;
    -fx-background: -fx-background-fallback;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: -fx-outer-border;
}
.overlay-dialog > .header > .title {
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
}
.overlay-dialog > .header > .close-button {
    -fx-font-size: 1.1em;
}
.overlay-dialog > .header {
    -fx-padding: 5 5 5 10;
}
.overlay-dialog > .footer {
    -fx-border-width: 1 0 0 0;
    -fx-border-color: -fx-outer-border;
    -fx-padding: 10;
}